* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .topbar{
    width: 100%;
    display: inline-block;
    background-color: rgba(0,139, 139,0.8);
    display: flex;
    margin: 0;
    margin-bottom: 0px;
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  }

  .menu-container {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
  }
  
  .menu {
    border: 1px solid #fff;  /* For debugging */
    width: 900px;
    display: flex;
    justify-content: space-between;
  }

  .links {
    display: flex;
    justify-content: flex-end;
  }

  .data-demo {
    margin-left: auto;
  }
  
  .main-page {
    margin-left: 20px;
  }

  .header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
  }
  
  .header {
    align-items: center;
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
  }

  .photo-grid-container {
    display: flex;
    justify-content: center;
  }
  
  .photo-grid {
    
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }

  .first-item {
    order: 1;
  }
  
  .last-item {
    order: -1;
  }
  
  .photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
  }

.my-git,
.project-link {
  align-self: flex-end;
  margin-bottom: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
  }
  .footer-one,
  .footer-three {
    background-color: #5995DA;
  flex: initial;
  width: 300px;
  }
